.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    float:right;
    /* height:220px;
    width: 200px; */
}
body{
    background-color: antiquewhite;
}
#div1{
    border:1px solid black;
    padding:5px;
    position: relative;
}